<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/public/css/style.css">
    <title>Goodie Foodie's Review</title>
  </head>

  <body>

    <header>
        <h1>Goodie Foodie Reviews</h1>
        <nav>
          <a href="/">homepage</a>
            {{#if loggedIn}}
            <a href="/review">My Reviews</a> <!--GET logged in User's reviews-->
            <a href="/reviewboard/create">Create New Review</a> <!--POST new review -->
            <a href="#" id="logout-link">Logout</a>
            {{else}}
            <a href="/">homepage</a>
            <a href="/login" class="login-button">login</a>
            {{/if}}
        </nav>
    </header>
   <main>
    {{{ body }}}
    </main>
  </body>

</html>
