<section>
    <a href="/reviewboard"> &larr; Back</a>
  <h2 class="title">Create New Food Review</h2><hr>

  <form class="new-review-form">
    <div>
      <h2 for="review-title">Title:</h2>
      <input class="input" type="text" id="review-title" placeholder="Insert review title here"/>
    </div>
    <div>
      <h2 for="review-description">Description:</h2>
      <input class="input" type="text" id="review-description" placeholder="Insert review description here"/>
    </div>
    <button type="submit" class="submitButton">Create Review</button>
  </form>
</section>

<script src="/public/js/create.js"></script>