<link rel="stylesheet" href="/css/delete-post.css">
<!--back button will redirect back to dashboard-->
<article>
  <div class="ui animated button" tabindex="0">
    <a href="/reviewboard">
      <div class="visible content">Back</div>
      <div class="hidden content">
      <i class="left arrow icon"></i>
      </div>
    </a>
  </div>


<!-- contains all info about the single review for delete-->
  <form class="delete-review-form ui form">
    <div class="ui three column centered grid">
      <div class="stretched row">
        <div class="column">
          <div class="ui segment">
            <h2>Delete Review:</h2>
            <img class="reimage ui fluid image" src="{{review.img}}" alt="An assortment of food" />
              <h2 name="review-title">{{review.title}}</h2>
              <div>
                <p name="review-description">{{review.description}}</p>
              </div>
            <button id='deleteReview' class="ui red fluid button">Delete Review</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</article>

<script src="/js/delete.js"></script>

