<link rel="stylesheet" href="/css/edit-post.css">
  
<article>
  <div class="ui animated button" tabindex="0">
    <a href="/reviewboard">
      <div class="visible content">Back</div>
      <div class="hidden content">
      <i class="left arrow icon"></i>
      </div>
    </a>
  </div>
<!-- edit review form that contains everything about the single  review and allowing to update or not update it-->
    <form class="edit-review-form ui form">
      <div class="ui three column centered grid">
        <div class="stretched row">
          <div class="column">
            <div class="ui segment">
              <h2>Edit Review:</h2>
              <img class="reimage ui fluid image" src="{{review.img}}" alt="An assortment of food" />
              <h2 for="review-title">Change Title:</h2>
              <input class="input" name="review-title" type="text" value="{{review.title}}" />
              <div>
                <h2 for="review-description">Change Description:</h2>
                <input class="textarea" name="review-description" type="text" value="{{review.description}}" />
              </div>
              <div>
                <h2 for="review-image">Change Image Link:</h2>
                <input class="input" type="text" id="review-description" name="review-image" value="{{review.img}}"/>
              </div>
               <button id="editReview" class="ui green fluid button editReview">Update Review</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</article>

<script src="/js/edit.js"></script>