<div>
    {{#each reviews as |review|}}
        <div>
            <h2 for="review-title">Review Title:</h2>
            <h1>{{review.title}}</h1>
        </div>
        <div>
            <h2 for="review-description">Review Description:</h2>
            <h1>{{review.description}}</h1>
        </div>
{{/each}}
</div>
