<section class="card">
    <section class="card-header">
        <h2>Welcome to Goodie Foodie's Review</h2>
        <h3>Please Login</h3>
    </section>
    <form id="login-form" class="card-body">
        <div>
            <label for="username-input-login">Email</label>
            <input type="text" id="username-input-login" placeholder="Enter your email"/>
        </div>
        <div>
            <label for="password-input-login" class="form-label">Password</label>
            <input type="password" id="password-input-login" placeholder="Enter your password"/>
        </div>
        <button type="submit" id="login-btn" class="btn">Login</button>
        <p class="custom-create">Create an account</p>
        <a type="button" href="/signup">Sign up</a>
    </form>
</section>


<script src="/js/signup.js"></script>

<script src="/js/login.js"></script>