<body class="signin-bg">
    <div class="custom-loginsignupbox" class="two column stackable ui grid">
    <div class="column">
        <div id='custom-border' class="ui segment">
            <h2 class="custom-logintitle">Welcome to Goodie Foodie's Review 😋</h2>
        <form id="login-form" class="card-body">
            <div>
                <div class='custom-email' for="username-input-login">Email</div>
                <i class="user icon"></i>
                <input class='custom-inputemail' type="text" id="username-input-login" value="Dylan@gmail.com" /> <!-- placeholder="Please enter your email"-->
            </div>
            <div id="custom-linespace">
                <div class="custom-password" for="password-input-login" class="form-label">Password</div>
                <i class="lock icon"></i>
                <input class='custom-passinput' type="password" id="password-input-login" value="password12345" /><!-- placeholder="Please enter your password"-->
            </div>
            <div id="error-message"></div>
            <button type="submit" id="login-btn" class="btn">Login</button>
            <p class="custom-create">Don't have an account? Sign up!</p>
            <a class="signup-btn" type="button" href="/signup">Sign up</a>
        </form>
        </div>
    </div>
    <script src="/js/login.js"></script>
</body>

