<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Goodie Foodie's Review</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/reviewboard">Review Board</a></li>
            <li><a href="#" id="logout-link">Logout</a></li>
        </ul>
    </nav>
    <header class="hero">
        <h1 class="app-title"><a href="/reviewboard">Your Review Board</a></h1>
    </header>

    <main>
        <form class="new-review-form">
            <div>
                <h2 for="review-title">Review Title:</h2>
                <input class="input" name="review-title" type="text" value="{{review.title}}" />
            </div>
            <div>
                <h2 for="review-description">Review Description:</h2>
                <input class="textarea" name="review-description" type="text" value="{{review.description}}" />
            </div>
            <button type="submit" class="submitButton">Create Review</button>
            {{!-- <button type="button" class="deleteButton">Delete Review</button> --}}
        </form>
    </main>
</body>

<script src="/js/logout.js"></script>
<script src="/js/edit.js"></script>
<script src="/js/delete.js"></script>
<script src="/js/create.js"></script>

</html>