<div class="card">
    <div class="card-header">
        <h2>Welcome to Goodie Foodie's Review</h2>
        <h3>Create an Account</h3>
    </div>
    <div id="signup" role="tabpanel">
        <form id="signup-form" class="card-body">
            <div>
                <label for="name-input-signup">Name</label>
                <input type="text" id="name-input-signup" placeholder="Enter your name" />
            </div>
            <div>
                <label for="username-input-signup">Email</label>
                <input type="text" id="username-input-signup" placeholder="Enter your email" />
            </div>
            <div>
                <label for="password-input-signup">Password</label>
                <input type="password" id="password-input-signup" placeholder="Enter your password" />
            </div>
            <button type="submit" id="signup-btn" class="btn">Signup</button>
            <a class="custom-loginbtn" href="/login">Login</a>
        </form>
    </div>
</div>

<script src="/js/signup.js"></script>